/* Styles généraux */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Utilisation de flexbox pour la disposition */
    flex-direction: column; /* Contenu en colonne */
    min-height: 100vh; /* Hauteur minimale de la fenêtre visible */
    background-color: #000; /* Fond noir */
    color: #fff; /* Écriture blanche */
    font-size: 18px; /* Taille de police générale */
    line-height: 1.6; /* Espacement des lignes */
}

header {
    background-color: rgba(51, 51, 51, 0.7); /* Transparence à 0.7 */
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    background-color: rgba(102, 102, 102, 0.7); /* Transparence à 0.7 */
    padding: 10px; /* Ajout de marge intérieure pour la nav */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: rgba(51, 51, 51, 0.7); /* Transparence à 0.7 */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
